#!/usr/bin/env python
PACKAGE = "crop_row_follow"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('Gaussian Sigma', int_t, 0, 'Sigma value for the Gaussian blurring', 7, 0, 20)
gen.add('Open Kernel', int_t, 0, 'Value for the open kernel', 40, 0, 100)
gen.add('Close Kernel', int_t, 0, 'Value for the close kernel', 60, 0, 100)

exit(gen.generate(PACKAGE, 'crop_row_follow', 'cv_follow'))
